<div class="wrapper ">

    <app-categories (addCategory)="onAddCategory($event)"
                    (deleteCategory)="onDeleteCategory($event)"
                    (searchCategory)="onSearchCategory($event)"
                    (selectCategory)="onSelectCategory($event)"
                    (updateCategory)="onUpdateCategory($event)"

                    [categories]="categories"
                    [selectedCategory]="selectedCategory">
    </app-categories>

    <div class="main-panel">

        <app-header></app-header>

        <div class="content">
            <div class="container-fluid">

                <app-statistics
                        [totalTasksInCategory]="totalTasksCountInCategory"
                        [completedTasksInCategory]="completedCountInCategory"
                        [uncompletedTasksInCategory]="uncompletedCountInCategory">
                </app-statistics>

                <div class="row">
                    <div class="col-12">
                        <app-tasks
                                (addTask)="onAddTask($event)"
                                (deleteTask)="onDeleteTask($event)"
                                (filterByPriority)="onFilterTasksByPriority($event)"
                                (filterByStatus)="onFilterTasksByStatus($event)"

                                (filterByTitle)="onSearchTasks($event)"
                                (selectCategory)="onSelectCategory($event)"
                                (updateTask)="onUpdateTask($event)"
                                [priorities]="priorities"

                                [selectedCategory]="selectedCategory"
                                [tasks]="tasks"
                        ></app-tasks>
                    </div>
                </div>
            </div>
        </div>

        <app-footer></app-footer>

    </div>
</div>
