<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input [disabled]="task.completed"
           #inputTitle
           matInput
           [(ngModel)]="newTitle"
           (keydown.enter)="confirm()">

    <button
      *ngIf="newTitle && newTitle.trim().length > 0"
      matSuffix mat-icon-button aria-label="Clear"
      (click)="newTitle= ''" class="dialog-toto-title">
      <mat-icon>clear</mat-icon>
    </button>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select [(value)]="newCategoryId" [disabled]="task.completed">

      <mat-option [value]="null">No category</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat.id">
        {{cat.title}}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select [(value)]="newPriorityId" [disabled]="task.completed">
      <mat-option [value]="null">No priority</mat-option>

      <mat-option *ngFor="let p of priorities" [value]="p.id">
        {{p.title}}
      </mat-option>
    </mat-select>


  </mat-form-field>

  <mat-form-field>
    <input [disabled]="task.completed"
           matInput placeholder="Date" #inputDate
           readonly="true"

           [matDatepicker]="picker"
           [(ngModel)]="newDate"

           (click)="picker.open()">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <mat-datepicker #picker></mat-datepicker>

    <button [disabled]="task.completed"
            *ngIf="inputDate.value.trim().length > 0"

            matSuffix mat-icon-button aria-label="Clear"

            (click)="newDate = null" class="calendar-clear-icon">
      <mat-icon>clear</mat-icon>
    </button>

  </mat-form-field>

  <div class="row">
    <div class="col-12">
      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && setToday()">
      Today
    </span>
      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && addDays(1)">
      Tomorrow
    </span>

    </div>
  </div>
  <div class="gap20"></div>
</mat-dialog-content>

<mat-dialog-actions>

  <div class="col-md-5 col-12" [ngClass]="'text-left'">

    <button
      mat-raised-button color="primary"
      (click)="confirm()"
      [disabled]="inputTitle.value.trim().length==0">
      Save
    </button>

    <button mat-raised-button (click)="cancel()">Cancel</button>

  </div>

  <div
    class="col-md-7 col-12 text-right"
    *ngIf="canComplete || canDelete"
    [ngClass]="'text-right'"
  >

    <button
      mat-button class="green"
      *ngIf="canComplete && task && !task.completed"
      (click)="complete()"
    >Complete task
    </button>

    <button
      mat-button class="green"
      (click)="activate()"
      *ngIf="canComplete && task && task.completed">
      Activate
    </button>

    <button
      mat-button
      *ngIf="canDelete"
      class="red"
      (click)="delete()"
    >
      Delete task
    </button>
  </div>
</mat-dialog-actions>

