<div class="sidebar" data-background-color="white" data-color="purple">
  <div class="logo">
    <span class="nav-title font-weight-bold">
      Just Tick It
    </span>

    <span class="add-icon-area">
      <button mat-icon-button class="add-icon" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">

      <div class="search-category-field">
        <mat-form-field class="full-width">
          <input
            (keydown.escape)="clearAndSearch()"
            [(ngModel)]="filterTitle"

            matInput
            maxlength="256"
            placeholder="Search category"
          >
          <button
            (click)="clearAndSearch()"
            *ngIf="filterTitle && filterTitle.trim().length > 0" aria-label="Clear"
            class="search-category-button"
            mat-icon-button
            matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
          <button
                  (click)="search()"
                  *ngIf="filterTitle && filterTitle.trim().length > 0"

                  mat-icon-button
                  matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <li (click)="showTasksByCategory(null)" [class.active]="selectedCategory === null"
          class="nav-item category">
        <a class="nav-link pointer">
          <span class="all-category-title">All tasks</span>
          <span class="uncompleted-count"> {{uncompletedTotal}}</span>
        </a>
      </li>

      <div *ngIf="categories && categories.length === 0"><p class="not-found">No categories found</p></div>

      <li (click)="showTasksByCategory(category)"
          (mouseenter)="showEditIcon(index)"
          (mouseleave)="showEditIcon(null)"

          *ngFor="let category of categories; let index = index;"
          [class.active]="category === selectedCategory"

          class="nav-item pointer">
        <a class="nav-link">
          <span class="category-title">{{category.title}}</span>
          <span class="edit-category-icon-area">
            <mat-icon (click)="$event.stopPropagation(); openEditDialog(category)"
                      *ngIf="indexMouseMove === index"
                      class="edit-category-icon">
              edit
            </mat-icon>
          </span>
          <span class="uncompleted-count"> {{category.uncompletedCount}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-background"></div>
</div>
