<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="{{github}}">
                        Github
                    </a>
                </li>
                <li>
                    <a href="{{linkedin}}">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="{{email}}">
                        Email
                    </a>
                </li>
                <li>
                    <a href="{{telegram}}">
                        Telegram
                    </a>
                </li>
                <li>
                    <a href="{{instagram}}">
                        Instagram
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;{{year}}
            <a href="{{github}}">VITALIISTF</a>
        </div>
    </div>
</footer>
